{% extends 'app/layout/base.html' %}
{% load static %}

{% block content %}
<style>
    
    .cart-title {
		margin-top: 30px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        color: #000000; /* Orange color */
    }

    .cart-table-container {
        overflow-x: auto;
        margin-bottom: 20px;
		width: 80%;
		margin-left: 10%;
    }

    .cart-table {
        width: 95%; /* Reduce the width to 90% of its container */
        margin: 0 auto; /* Center the table horizontally */
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid #ddd; /* Add a border around the table */
    }

    .cart-table th,
    .cart-table td {
        padding: 20px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    .cart-table th {
        background-color:  #D10024; /* Orange color */
        color: white; /* Text color for header cells */
    }

    .cart-table td {
        background-color: #ffffff;
        height: 80px; /* Light orange background color */
    }

    .total-price {
        text-align: right;
        font-weight: bold;
        font-size: 18px;
        color: #000000; /* Dark orange color */
        margin-top: 20px; 
        margin-right: 80px;/* Add some space above the total price */
    }

    .cart-btns1 {
  display: inline-block;
  width: 120px;
  padding: 12px;
  background-color: #D10024;
  color: #FFF;
  text-align: center;
  font-weight: 700;
  transition: 0.2s all;
  margin-left: 200px;
  margin-bottom: 30px;
}



    /* Ensure the table container doesn't exceed the viewport width */
    @media (max-width: 500px) {
        .cart-table-container {
            overflow-x: auto;
            width: 100%;
            max-width: 100%;
        }
    }

    .no-item{
        width:500px;
        height:200px;
        margin-left: 44%;
        font-size: large;
        margin-top: 50px;
        font-weight: 300;
    }
</style>
<h1 class="cart-title">Shopping Cart</h1>
{% if cart_items %}
<div class="cart-table-container">
<table class="cart-table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th> <!-- New column for remove button -->
        </tr>
    </thead>
    
    <tbody>
        {% for cart_item in cart_items %}
        <tr>
            <td>
                <img src="{{ cart_item.product_image_url }}" alt="{{ cart_item.products.name }}" width="100">
                <!-- Display product name -->
                {{ cart_item.products.name }}
            </td>
            <td>${{ cart_item.products.price }}</td>
            <td>
                <form method="post" action="{% url 'update_cart' cart_item.id %}">
                    {% csrf_token %}
                    <button type="submit" name="action" value="subtract">-</button>
                    {{ cart_item.quantity }}
                    <button type="submit" name="action" value="add">+</button>
                </form>
            </td>
            <td>${{ cart_item.total_price }}</td>
            <td>
                <!-- Button to remove item from cart -->
                <form method="post" action="{% url 'remove_from_cart' cart_item.id %}">
                    {% csrf_token %}
                    <button type="submit" class="remove-item-button">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<p class="total-price">Total: ${{ total_price }}</p>

<form action="{% url 'checkout' %}" method="POST">
    {% csrf_token %}
    <button class="cart-btns1" type="submit" id="next-button">
        Checkout  <i class="fa fa-arrow-circle-right"></i>
    </button>
</form>


{% else %}
<div class="no-item">No Item in your cart</div>
{% endif %}
    
{% endblock %}